@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400&display=swap');

@font-face {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: Inter;
    background: #343541;
    color: white;
}

h1 {
    text-align: center;
}

footer {
    text-align: center;
}

a {
    color: white;
}

div {
    text-align: center;
}

.box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 9px;
    gap: 2rem;
    padding: 3rem;
    margin: 1rem;
}

img {
    max-width: 150px;
    height: 150px;
}

.text {
    font-size: 12px;
}

p {
    line-height: 1.3rem;
}